:root {
    --header-height: 3.5rem;
    /*========== color palette ==========*/
    --first-color: #023047;
    --second-color: #8ECAE6;
    --third-color: #ffffff;
    --fourth-color: #FFB703;
    --container-color: #C2E5F5;
    --bg-color: #ececec;
    --footer-color: #034F75;
     /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;

      /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Lexend";
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 1023px) {
    :root {
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
  }

.container {
    max-width: 100%;
    padding-inline: 1.5rem;
}

.main {
    position: relative;
    height: 100vh;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    background-color: #ececec;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}
  
body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
input, button {
    border: none;
    outline: none;
}
  
.nav_list {
    list-style: none;
}

.nav_search,
.nav_toggle,.nav_close {
    font-size: 1.25rem;
    color: var(--third-color);
    cursor: pointer;
    transition: color .4s;
}
  
a {
    text-decoration: none;
}
  
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 3%;
}

.Tagline {
    display: flex;
    font-family: Roboto Condensed;
    font-style: italic;
    font-size: .7rem;
    font-weight: 600;
}

.nav_tag {
    color: var(--third-color);
    margin-right: -170px;
}

.Brand {
    display: flex;
    font-weight: 600;
    font-size: 1rem;
}

.search, .login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.search__close,
.login__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--third-color);
    cursor: pointer;
}

.search__form input, .login__form input{
    display:block;
}


/* ========= NavBar ========== */
.header {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
}

.header1 {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg-color);
    z-index: calc(var(--z-fixed) + 1);
}

.top-bar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1.5rem;
}

.nav {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.socmeds {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_search,
.nav_toggle,.nav_close {
    font-size: 1.25rem;
    color: var(--third-color);
    cursor: pointer;
    transition: color .4s;
}

.nav_login {
    font-size: 2.25rem;
    color: var(--first-color);
    cursor: pointer;
    transition: color .4s;
    padding-left: 130px;
}

:is(.nav_search, .nav_link, .nav_login, .nav_toggle):hover {
    color: var(--second-color);
    font-weight: 700;
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1023px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--first-color);
        width: 100%;
        padding-block: 4.5rem 2rem;
        transition: top .4s;

    }
}

.nav_link {
    color: var(--third-color);
    transition: color .4s;
}

.nav_close {
    position: absolute;
    top: 4.15rem;
    right: 1.5rem;
}

.show-menu {
    top: 2.15rem;
}

.search__form {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--third-color);
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    padding-inline: 1rem;
    border-radius: .5rem;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.search__icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.search__input {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--third-color);
    color: var(--first-color);
}

.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translateY(0);
}

.login__form, .login__group {
    display: grid;
}

.login__form {
    background-color: var(--first-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--third-color);
}

.login__group {
    row-gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--third-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--first-color);
}

.login__signup {
    margin-bottom: .5rem;
    color: var(--third-color);
}

.login__signup a{
    color: var(--second-color)
}

.login__forgot {
    display: inline;
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

.login__button {
    display: inline-block;
    background-color: var(--bg-color);
    width: 100%;
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
    margin-bottom: 1rem;
}

.login__forgot:hover , .login__signup a:hover {
    font-size: 1.1rem;
    color: var(--container-color);
}

.login__button:hover {
    background-color: var(--second-color);
    transition: color .4s;
}

.top-left {
    display: flex;
    flex-direction: column;
}

.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(-1rem);
}

.time {
    font-size: .8rem;
}

.display-date{
    width: 150px;
}

.display-time {
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
}

.socmeds a{
    color: var(--first-color);
    font-size: 1.25rem;
}

.socmeds a:hover {
    color: var(--second-color);
}
/*Changes*/
.greeting {
    font-size: 15px;
    color: #333;
    width: 135px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.signup-button {
    font-size: 12px;
    text-decoration: none;
}

.logout-button {
    font-size: 20px;
    font-weight: 500;
    color: var(--first-color);
}

.logout-button:hover {
    font-size: 24px;
}


.signup-button:hover {
    text-decoration: underline;
}

.nav1 {
    display: flex;
}


/* ========= Footer CSS ========== */
footer {
    width: 100%;
    bottom: 0;
    background-color: var(--first-color);
    color: var(--third-color);
    padding: 50px 0 12px;
    font-size: 14px;
    line-height: 20px;

}

.footertag {
    font-size: .8rem;
}

.footerrow {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    font-size: 1.25rem;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: var(--third-color);
    text-align: center;
}

.footerrow a:hover {
    font-size: .9rem;
    color: var(--second-color);
}

.socmeds1 {
    display: flex;
    align-items: center;
    margin-top: 15px;
    column-gap: 1rem;
    color: #ffffff;
}

.socmeds1 a{
    color: var(--third-color);
    font-size: 1.25rem;
}

.socmeds1 a:hover {
    color: var(--second-color);
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

@media (max-width: 768px) {
    .card__container {
        flex-direction: column;
    }

    .card__content {
        flex-direction: column;
        align-items: center;
    }

    .card__article {
        width: 100%;
        max-width: 300px;
    }
}

/* ========= NavBar ========== */
@media screen and (min-width: 567px){
    .search, .login {
        padding-top: 10rem;
    }

    .search__form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search__close, .login__close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .login__form {
        max-width: 400px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 1023px){
    .nav {
        column-gap: 3rem;
    }

    .nav_close, .nav_toggle {
        display: none;
    }

    .nav_menu {
        margin-left: auto;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .login__form {
        padding: 3rem 2rem 3.5rem;
    }

    .home__container {
        display: flex;
        margin-inline: auto;
        grid-template-columns: 420px 585px;
        align-items: center;
        column-gap: 6rem;
        padding-top: 10rem;

    }
}

@media screen and (max-width: 577px) {
    .Tagline, .Brand, .time {
        font-size: .5rem;
    }

    .home__title {
        font-size: 2rem;
    }
}

/* ========= End of NavBar BP ========== */

@media screen and (max-width: 1025px) {
    .home__img {
        display: flex;
        max-width: 350px;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
    
    .services-wrapper h1 {
        font-size: 3.5rem;
    }

    .socmeds i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 895px) {
    .skewed {
        display: block;
        width: 20em;
    }
    .imgRationale, .text {
        width: 100%;
    }
    .imgRationale img {
        width: 160%;
    }
    
    .skewed .imgRationale::before {
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }

    .skewed-left .imgRationale::before {
        transform: translateX(-50%) rotate(-10deg);
        top: initial;
        bottom: -5em;
    }
}