:root {
    --header-height: 3.5rem;
    /*========== color palette ==========*/
    --first-color: #023047;
    --second-color: #8ECAE6;
    --third-color: #ffffff;
    --fourth-color: #FFB703;
    --container-color: #C2E5F5;
    --bg-color: #ececec;
    --footer-color: #034F75;
     /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;

      /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Lexend";
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 1023px) {
    :root {
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
  }

.container {
    max-width: 100%;
    padding-inline: 1.5rem;
}

.main {
    position: relative;
    height: 100vh;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}
  
body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
input, button {
    border: none;
    outline: none;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 3%;
}

.Tagline {
    display: flex;
    font-family: Roboto Condensed;
    font-style: italic;
    font-size: .7rem;
    font-weight: 600;
}

.nav_tag {
    color: var(--third-color);
    margin-right: -170px;
}

.Brand {
    display: flex;
    font-weight: 600;
    font-size: 1rem;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
    background-color: hsla(230, 75%, 32%, .1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    padding: 8rem 1.5rem 0;
    pointer-events: none;
    transition: opacity .4s;
}

.search__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: var(--third-color);
    cursor: pointer;
}

/* ========= NavBar ========== */
.header {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--first-color);
    z-index: var(--z-fixed);
}

.header1 {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg-color);
    z-index: calc(var(--z-fixed) + 1);
}

.top-bar {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 1.5rem;
}


.nav {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.socmeds {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_search,
.nav_toggle,.nav_close {
    font-size: 1.25rem;
    color: var(--third-color);
    cursor: pointer;
    transition: color .4s;
}

.nav_login {
    font-size: 2.25rem;
    color: var(--first-color);
    cursor: pointer;
    transition: color .4s;
    padding-left: 130px;
}

:is(.nav_search, .nav_link, .nav_login, .nav_toggle):hover {
    color: var(--second-color);
    font-weight: 700;
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 1023px){
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--first-color);
        width: 100%;
        padding-block: 4.5rem 2rem;
        transition: top .4s;

    }
}

.nav_link {
    color: var(--third-color);
    transition: color .4s;
}

.nav_close {
    position: absolute;
    top: 4.15rem;
    right: 1.5rem;
}

.show-menu {
    top: 2.15rem;
}

.search__form {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--third-color);
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    padding-inline: 1rem;
    border-radius: .5rem;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.search__icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.search__input {
    width: 100%;
    padding-block: 1rem;
    background-color: var(--third-color);
    color: var(--first-color);
}

.show-search {
    opacity: 1;
    pointer-events: initial;
}

.show-search .search__form {
    transform: translateY(0);
}

.login__form, .login__group {
    display: grid;
}

.login__form {
    background-color: var(--first-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--third-color);
}

.login__group {
    row-gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--third-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--first-color);
}

.login__signup {
    margin-bottom: .5rem;
    color: var(--third-color);
}

.login__signup a{
    color: var(--second-color)
}

.login__forgot {
    display: inline;
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

.login__button {
    display: inline-block;
    background-color: var(--bg-color);
    width: 100%;
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
    margin-bottom: 1rem;
}

.login__forgot:hover , .login__signup a:hover {
    font-size: 1.1rem;
    color: var(--container-color);
}

.login__button:hover {
    background-color: var(--second-color);
    transition: color .4s;
}

.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(-1rem);
}

.top-left {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: .8rem;
}

.display-date {
    width: 150px;
}

#day {
    font-weight: 600;
}
  

.display-time {
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
}

.socmeds a{
    color: var(--first-color);
    font-size: 1.25rem;
}

.socmeds a:hover {
    color: var(--second-color);
}

/* ========= Welcome Part ========== */

.home__container {
    display: ruby-text;
    padding-top: 10rem;
    height: 35rem;
    justify-content: center;
    row-gap: 2rem;
    padding-right: 3rem;
    background-image: url("photos/image\ 3.svg");
}

.aboutus__container {
    display: ruby-text;
    padding-top: 12rem;
    justify-content: center;
    row-gap: 2rem;
    padding-right: 3rem;
}

.home__data {
    position: relative;
    text-align: center;
}

.home__title{
    font-family: "Roboto";
    font-weight: 550;
    font-size: 5rem;
    line-height: 100%;
    color: var(--first-color);
}

.aboutus__title{
    font-family: "Roboto";
    font-weight: 550;
    font-size: 4rem;
    line-height: 100%;
    color: var(--first-color);
}

.home__description {
    margin: 1rem 0 1rem 0;
}

.aboutus__description {
    margin: 1rem 0 1rem 0;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.25rem;
    font-style: italic;
    color: var(--first-color);
}

.home__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.catalog_button {
    background-color: var(--fourth-color);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    padding: .75rem 2rem;
    border-radius: 4rem;
}

.home__img {
    max-width: 600px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--first-color);
}

.services-wrapper h1 {
    margin: 10px;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    position: relative;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card {
    height: auto;
    width: 370px;
    background-color: var(--third-color);
    padding: 3% 8%;
    border: 0.2px solid #b2b2b2;
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card:after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: var(--first-color);
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover:after {
    width: 225%;
    top: -100%;
}

.card i {
    color: var(--first-color);
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.card h2 {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.card p {
    text-align: center;
    width: 100%;
    margin: 12px 0;
    font-size: .9rem;
    text-align: justify;
}

.card:hover {
    background-color: transparent;
    transform: translateY(-8px);
}

.objective-text {
    background-color: var(--third-color);
}

/* ========= Footer CSS ========== */
footer {
    width: 100%;
    bottom: 0;
    background-color: var(--first-color);
    color: var(--third-color);
    padding: 50px 0 12px;
    border-top-left-radius: 125px;
    font-size: 14px;
    line-height: 20px;

}

.footertag {
    font-size: .8rem;
}

.footerrow {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.col h3 {
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    font-size: 1.25rem;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: var(--third-color);
    text-align: center;
}

.footerrow a:hover {
    font-size: .9rem;
    color: var(--second-color);
}

.socmeds1 {
    display: flex;
    align-items: center;
    margin-top: 15px;
    column-gap: 1rem;
    color: #ffffff;
}

.socmeds1 a{
    color: var(--third-color);
    font-size: 1.25rem;
}

.socmeds1 a:hover {
    color: var(--container-color);
    font-size: 1.5rem;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.rationale {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--second-color);
    margin: 15px 0 0 0;
}

.skewed {
    width: 60em;
    display: flex;
    margin: 2em 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.text {
    padding: 1.5em;
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--bg-color);
}

.text p {
    font-size: .9rem;
}

.imgRationale {
    width: 50%;
    height: 17em;
    position: relative;
    overflow: hidden;
}

.imgRationale::before {
    content: "";
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: var(--bg-color);
    width: 40%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .imgRationale::before {
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}

.imgRationale img {
    width: 100%;
}

.objectives {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card__article {
    width: 300px;
    margin: 1rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__data {
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
    height: 15rem;
}

.card__img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card__name {
    font-size: 1.25rem;
    color: var(--first-color);
    margin-bottom: .75rem;
}

.card__description {
    font-size: .9rem;
    margin-bottom: 1.75rem;
}

.card__container h1 {
    margin: 10px 0 0 0;
    font-size: 2.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    position: relative;
    color: var(--first-color);
}

.card__article:hover:after {
    width: 225%;
    top: -100%;
    transition: 1s;
}

.card__article:hover {
    background-color: transparent;
    transform: translateY(-8px);
}

@media (max-width: 768px) {
    .card__container {
        flex-direction: column;
    }

    .card__content {
        flex-direction: column;
        align-items: center;
    }

    .card__article {
        width: 100%;
        max-width: 300px;
    }
}

/* ========= Breakpoints ========== */


/* ========= NavBar ========== */
@media screen and (min-width: 567px){
    .search, .login {
        padding-top: 10rem;
    }

    .search__form {
        max-width: 450px;
        margin-inline: auto;
    }

    .search__close, .login__close {
        width: max-content;
        top: 5rem;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-size: 2rem;
    }

    .login__form {
        max-width: 400px;
        margin-inline: auto;
    }
}

@media screen and (min-width: 1023px){
    .nav {
        column-gap: 3rem;
    }

    .nav_close, .nav_toggle {
        display: none;
    }

    .nav_list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .login__form {
        padding: 3rem 2rem 3.5rem;
    }

    .home__container {
        display: flex;
        margin-inline: auto;
        grid-template-columns: 420px 585px;
        align-items: center;
        column-gap: 6rem;
        padding-top: 10rem;

    }
}

@media screen and (max-width: 577px) {
    .Tagline, .Brand, .time {
        font-size: .5rem;
    }

    .home__title {
        font-size: 2rem;
    }
}

/* ========= End of NavBar BP ========== */

@media screen and (max-width: 1025px) {
    .home__img {
        display: flex;
        max-width: 350px;
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
    
    .services-wrapper h1 {
        font-size: 3.5rem;
    }

    .socmeds i {
        font-size: 1rem;
    }

}

@media screen and (max-width: 895px) {
    .skewed {
        display: block;
        width: 20em;
    }
    .imgRationale, .text {
        width: 100%;
    }
    .imgRationale img {
        width: 160%;
    }
    
    .skewed .imgRationale::before {
        width: 120%;
        height: 40%;
        top: -5em;
        left: 50%;
        transform: translateX(-50%) rotate(10deg);
    }

    .skewed-left .imgRationale::before {
        transform: translateX(-50%) rotate(-10deg);
        top: initial;
        bottom: -5em;
    }
}

.banner {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(196, 236, 255, 0.75),rgba(196, 236, 255, 0.75)),
      url(photos/image\ 10.svg);
    background-size: cover;
    background-position: center;
}
  
.logo1 {
    width: 500px;
    cursor: pointer;
}
  
.content {
    width: 100%;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--first-color);
  }
  
.content h1 {
    font-size: 60px;
    margin-top: 80px;
    text-shadow: 0 0 15px rgb(215, 215, 215);
}

.content .a2 {
    color: #02218E;
}

.content .a3 {
    color: #FFB703;
}
  
.content p {
    margin: 10px auto;
    line-height: 25px;
    font-size: 1.05rem;
    font-weight: 500;
    font-family: "Roboto";
}
  
.cover {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }
  
  /* PRODUCTS */
  .product {
    position: relative;
    overflow: hidden;
    padding: 20px 20px 0 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Roboto";
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border: 1px solid var(--first-color);
    border-radius: 12px;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: var(--first-color);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    color: var(--third-color);
    font-family: "Roboto";
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: var(--container-color);
    color: var(--first-color);
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    font-family: "Roboto Condensed";
    font-size: 16px;
    text-align: center;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 90%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  
.container1 {
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: var(--container-color);
    color: var(--first-color);
}

.container1 h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Roboto";
}

.column {
    width: 23%;
    margin: 0 30px 20px 30px;
    padding: 15px;
}

.letter-section {
    margin-bottom: 20px;
}

.letter-section h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.letter-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.letter-section ul li {
    padding: 5px 0;
}

.letter-section ul li a {
    text-decoration: none;
    color: var(--first-color);
    transition: color 0.3s;
}

.letter-section ul li a:hover {
    font-weight: 700;
}

@media (max-width: 768px) {
    .column {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .column {
        width: 100%;
    }
}

.containerAboutUs {
    text-align: center;
}

.headerAboutUs {
    padding-top: 30px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover {
    background: #ddd;
    border-radius: 12px;
}

.teams img {
    width: 200px;
    height: 200px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.desig {
    font-style: italic;
    color: #888;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #444;
}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.story, .photo1 {
    flex: 1;
    margin: 10px;
    position: relative;
}

.story img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5; /* Adjust opacity as needed for better text visibility */
}

.text-content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background to the text for better readability */
    padding: 20px;
}

.photo1 img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .container2 {
        flex-direction: column;
    }
    .story, .photo1 {
        margin: 0;
        flex: none;
    }
    .text-content {
        padding: 10px;
    }
}

.hero {
    width: 100%;;
    background-image: url();
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero1 {
    width: 100%;;
    background-image: url();
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
}

.content1 {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
}

.content2 {
    flex: 1;
    max-width: 600px;
    margin-left: 20px;
}

.content1 h1 {
    font-size: 50px;
    color: #222;
    text-align: right;
}

.content2 h1 {
    font-size: 50px;
    color: #222;
}

.content1 p {
    margin: 10px 0 0 0;
    color: #333;
    animation-delay: 0.5s;
    font-size: 15px;
    text-align: right;
}

.content2 p {
    margin: 10px 0 0 0;
    color: #333;
    animation-delay: 0.5s;
    font-size: 15px;
}

.feature-img {
    flex: 1;
    max-width: 530px;
    width: 100%;
    height: auto;
    animation-delay: 1.5s;
    justify-content: center;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: flex-start;
    }

    .content1 {
        margin-top: 5%;
    }

    .feature-img {
        margin-top: 20px;
        width: 100%;
    }
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactUsTitle h2 {
    font-weight: 500;
    color: var(--first-color);
}

.contact {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact h3 {
    color: var(--first-color);
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.formBox {
    position: relative;
    width: 100%;
}

.formBox .row50 {
    display: flex;
    gap: 20px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formBox .row100 .inputBox {
    width: 100%;
}


.send-button button:hover {
    background: none !important;
    color: var(--first-color) !important;
    border: 1px solid var(--first-color) !important;
}

.row100 .send-button span {
    margin-top: -3%;
    font-size: smaller;
}

.inputBox span {
    color: var(--first-color);
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox button {
    background-color: var(--first-color);
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox.title textarea{
    height: 10px !important;
}

.inputBox ::placeholder {
    color: #999;
}

.info {
    background-color: var(--first-color);
}

.info h3 {
    color: #fff;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #57c8f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
    font-size: .8em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover {
    color: #fff;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .contactUs {
        padding: 20px
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }

    .map {
        min-height: 300px;
        padding: 0;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputBox {
        width: 100%;
    }

    .contact {
        padding: 30px;
    }
}

/* ---------------------- DISCUSSION FORUM ---------------------------  */
.discussion {
    width: 50%;
    margin: 0 auto;
}

.post-area{
    margin: 0 auto;
}

.post{
    background-color: #efefef;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 15px;
}

.create-post{
    border: #62677a solid 1px;
    margin-top: 60px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #efefef;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}

.create-post textarea {
    border: #D9D9D9 solid 1px;
    display: flex;
    margin-left: 10px;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    background-color: #e4e4e4;
    font-family: 'Roboto Condensed', sans-serif;
    height: 200px;
    width: 690px;
}

.input textarea::placeholder {
    font-size: 18px;
    font-style: italic;
}
.post .user-info{
    display: flex;
}

.specified-concern{
    color: #023047bb;
    display: flex;
    font-size: 12px;
    margin-bottom: 3px;
}

.specified-concern .date{
    margin-left: 3px;
}

.user-info .username{
    margin: 5px 0 0 10px;
}

.post .comment{
    margin-top: 5px;
}

.comment-section img{
    width:20px;
    height:20px;
}

.comment-outline{
    display: flex;
    margin-top: 3px;
}

.comment-outline p{
    margin: 4px 0 0 3px;
    font-size: 12px;
}

.comments-content .user-info  .user-icon{
    width: 10px;
    height: 10px;
}

.comments-content .user-info .username {
    margin: 0px 0 0 25px;
}

.comments-content .content{
    margin: 5px 0 0 35px;
}

.comment-outline {
    cursor: pointer;
}

.comments-content {
    display: none;
    margin-left: 25px;
}

.comments-content hr{
    margin-top: 10px;
    width: 100%;
}

.create-post button {
    background-color: #C2E5F5;
    color: #32677f;
    padding: 6px;
    width: 98.5%;
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown select {
    width: 99%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    margin: 5px 5px 5px 10px;
}


/* Messages section */
.messages-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
    min-height: 200px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
  }
  
  .table th, .table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  .view-button, .delete-button {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 40px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.greeting {
    font-size: 15px;
    color: #333;
    width: 135px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.signup-button {
    font-size: 12px;
    text-decoration: none;
}

.logout-button {
    font-size: 20px;
    font-weight: 500;
    color: var(--first-color);
}

.logout-button:hover {
    font-size: 24px;
}


.signup-button:hover {
    text-decoration: underline;
}

.nav1 {
    display: flex;
}

.container4 {
    width: 375px;
    height: 520px;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    padding: 20px;
    box-shadow: 4px 4px 30px rgb(0, 0, 0, 0.06);
    overflow-y: scroll;
}

.container4::-webkit-scrollbar {
    display: none;
}

.product1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.product-list {
    padding: 20px 0;
}

.product1 .p-details h2 {
    font-size: 20px;
    color: var(--first-color);
}