:root {
--header-height: 3.5rem;
/*========== color palette ==========*/
--first-color: #023047;
--second-color: #8ECAE6;
--third-color: #ffffff;
--fourth-color: #FFB703;
--container-color: #C2E5F5;
--bg-color: #ececec;
--footer-color: #034F75;
/*========== z index ==========*/
--z-fixed: 100;
--z-modal: 1000;

/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
--body-font: "Lexend";
--h2-font-size: 1.25rem;
--normal-font-size: .938rem;

/*========== Font weight ==========*/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/*========== z index ==========*/
--z-fixed: 100;
--z-modal: 1000;
}

@media screen and (min-width: 1023px) {
:root {
--h2-font-size: 1.5rem;
--normal-font-size: 1rem;
}
}

.container {
max-width: 100%;
padding-inline: 1.5rem;
}

.main {
position: relative;
height: 100vh;
}

/*=============== BASE ===============*/
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
background-color: #ececec;
color: var(--text-color);
margin: 0 auto;
align-items: center;
}

html {
scroll-behavior: smooth;
}

body,
input,
button {
font-family: var(--body-font);
font-size: var(--normal-font-size);
}

input, button {
border: none;
outline: none;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}

.login{
width: 500px;
margin: 0 auto;
translate: 0 30%;
}

.login__form, .login__group {
    display: grid;
}
.login__form {
    background-color: var(--first-color);
    padding: 2rem 1.5rem 2.5rem;
    box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
    border-radius: 1rem;
    row-gap: 1.25rem;
    text-align: center;
    transform: translateY(-1rem);
    transition: transform .4s;
}

.login__title {
    font-size: var(--h2-font-size);
    color: var(--third-color);
}

.login__group {
    row-gap: 1rem;
}

.login__label {
    display: block;
    text-align: initial;
    color: var(--third-color);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}

.login__input {
    width: 100%;
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--first-color);
}

.login__signup {
    margin-bottom: .5rem;
    color: var(--third-color);
}

.login__signup a{
    color: var(--second-color)
}

.login__forgot {
    display: inline;
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

.login__button {
    display: inline-block;
    background-color: var(--bg-color);
    width: 100%;
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: box-shadow .4s;
    margin-bottom: 1rem;
}

.login__forgot:hover , .login__signup a:hover {
    font-size: 1.1rem;
    color: var(--container-color);
}

.login__button:hover {
    background-color: var(--second-color);
    transition: color .4s;
}

.show-login {
    opacity: 1;
    pointer-events: initial;
}

.show-login .login__form {
    transform: translateY(-1rem);
}