@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #ECECEC;
}

.whole-document-area{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #071356;
}

.information-option div{
    display: inline-block;
}

/* Centered buttons */
.information-option{
    justify-content: center;
    text-align: center;
}

/* Colored buttons */
.information-option div div{
    background: linear-gradient(to top, #003676, #0E71E4);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    padding: 15px;
    width: 30px;
    position: relative;
    box-sizing: content-box !important;
}

.information-option div div:hover{
    background: linear-gradient(to top, #75AAE8, #0075FF) !important;
    box-shadow: 0 0px 0 0 rgba(0,0,0,0.3), 0  0 0 rgba(0,0,0,0.25) !important;
}

.information-option div div:hover {
    background: linear-gradient(to top, #75AAE8, #0075FF);
}

.information-option div span {
    display: block;
    margin-top: 0px;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100px;
    height: 30px;
}


/* -------------------------INFORMATION BOX--------------------------------  */
.information-area {
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: -8px 50px 10px 50px;
    height: auto;
    padding: 20px 10px 20px 10px;
    margin-top: -10px;
    color: #023047;
    position: relative;
}

.info-box {
    position: relative;
    padding: 10px;
    margin: 1px;
    width: 100%;
}

.info-details {
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 55px;
    padding: 17px 0 32px 60px;
    margin-top: -10px;
    position: relative;
    z-index: 1;
}

.information-area .icon {
    position: absolute;
    left: 5px; 
    top: 45%;
    transform: translateY(-50%);
}

/* PROCEDURE INFO BOX */
.procedure-number {
    border-radius: 50%;
    background-color: #023D82;
    color: white;
    width: 75px;
    height: 75px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: -10px;
}

.procedure-number p {
    margin: 0;
    font-weight: bold;
}

.circle-background {
    width: 100px;
    height: 90px;
    border-radius: 0px 90px 90px 0px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    position: absolute;
    z-index: 2;
    top: 0px;
}

/* HORIZONTAL */
.subtype hr{
    width: 96%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
}

/* REQUIREMENT INFO BOX */
.requirement-info .info-box {
    display: block;
    width: 50%;
    margin: 10px auto; 
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 10px 10px 10px 15px; 
    text-align: center; 
}

.requirement-info h3,
.requirement-info p {
    text-align: left; 
}

.requirement-info h3{
    margin-bottom: 5px;
}

.requirement-info h3 a {
    color: #023047; 
    text-decoration: none; 
}

.subtype .category{
    background-color: rgb(4 43 89) !important;
    display: flex;
    width: 50%;
    margin: 10px auto; 
    border-radius: 15px;
    padding: 10px 10px 10px 15px; 
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.category{
    background-color: rgb(4 43 89) !important;
    display: block;
    width: 100%;
    margin: 10px auto; 
    border-radius: 15px;
    padding: 10px 10px 10px 15px; 
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.category:hover{
    background-color: #000a31 !important;
    border: 1px rgb(234, 244, 255) solid;
}

.category img, .subtype-text img{
   width: 30px;
   height: 30px;
   transition: transform 0.3s; 
}

.rotated {
    transform: rotate(90deg);
}

.category p, .subtype-text p{
    margin: 2px;
}

.subtype-text{
    font-size: 20px;
    margin: 16px 0px 10px 28px;
    display: flex;
}

.subtype {
    cursor: pointer;
}

.subtype-text:hover{
    font-size: larger;
    color:#003676;
}

.requirement-info ul, .procedure-info ul{
    margin-left: 25px; 
    text-align: left;
}

.category ~ .info-box{
    display: none;
}

.subtype .info-box{
    display: none;
}


/* ---------------------------BUTTON AREA RESPONSIVE----------------------------------  */
.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 70px;
    width: 653px;
    margin: 0px auto;
    padding-top: 10px;
}

@media (max-width: 760px) {
    .information-option div div {
        width: 24px;
        height: 24px;
    }

    .button-area {
        width: 618px;
    }

    .information-option div span {
        width: 90px;
    }

    .slider {
        width: 90px  !important;
        margin-left: 8px;
    }

    #tap1:checked ~ .slider {transform: translateX(-10px)  !important;}
    #tap2:checked ~ .slider {transform: translateX(85px)  !important;}
    #tap3:checked ~ .slider {transform: translateX(179px) !important;}
    #tap4:checked ~ .slider {transform: translateX(272px) !important;}
    #tap5:checked ~ .slider {transform: translateX(365px) !important;}
    #tap6:checked ~ .slider {transform: translateX(459px) !important;}
}

/* ---------------------------SLIDER----------------------------------  */
.slider{
    position: absolute;
    height: 85px;
    width: 95px;
    background-color: #D9D9D9;
    border-radius: 55px 55px 0 0;
    transform: translateX(0);
    transition: 0.2s ease-in;
    justify-content: center;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 2px;
    margin-top: -5px;
}

.slider::before{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    bottom: 0;
    left: -25px;
    border-bottom-right-radius: 20px;
    box-shadow: 13px 0 0 #D9D9D9;
}

.slider::after{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    bottom: 0;
    right: -25px;
    border-bottom-left-radius: 20px;
    box-shadow: -13px 0 0 #D9D9D9;
}

input{display: none;}

/* Transition for buttons */
#tap1:checked ~ .slider {transform: translateX(-8px);}
#tap2:checked ~ .slider {transform: translateX(94px);}
#tap3:checked ~ .slider {transform: translateX(199px);}
#tap4:checked ~ .slider {transform: translateX(302px);}
#tap5:checked ~ .slider {transform: translateX(406px);}
#tap6:checked ~ .slider {transform: translateX(509px);}

/* ---------------------------DOCUMENT TITLE AREA----------------------------------  */
.document-area {
    position: relative;
    font-style: italic;
}

.image-wrapper {
    position: relative;
    z-index: -1;
    height: 300px;
    margin-bottom: -44px;   
}

img{
    width: 1519px;
    max-width: 100%;
    max-height: 100%;
}
.document-text {
    position: absolute;
    top: 30%;
    color: rgb(0, 0, 0);
    margin-left: 75px;
}

.document-text h1 {
    margin-top: 0;
    font-size: 45px;
}

.document-text p{
    margin-right: 20px;
}

/* ---------------------------LOCATION----------------------------------  */
.location-info{
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.location-details{
    background-color: white;
    padding: 11px;
    border-bottom: 1px solid #c0c0c0;
}

.location-details > table{
    width: 100%;
}

/* Font for location name */
.location-details p:nth-child(1){
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Margin for address */
.location-details p:nth-child(2){
    margin-top: -15px;
}

.location-details p:nth-child(1){
    cursor: pointer;
}

.location-details td{
    border-bottom: 1px solid #c0c0c0; 
    padding: 3px 0 3px 0;
}

/* For vertical list in location-details */
.details-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    background-color: white;
}

.details-container div + p{
    color: #c0c0c0;
    text-align: center;
}

/* Adjuster of gmaps based on list lengths */
.location-info iframe {
    width: 80%
}


/* ---------------------------FEES----------------------------------  */
.fee-info {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%; 
    display: grid;
}

.fee-info p{
    text-align: center;
}

.fee {
    padding: 12px;
    border-radius: 19px; 
    letter-spacing: 1px;
    margin-top: 10px;
    color: white;
    background-color: rgb(4 43 89) !important;
}

.fee table {
    width: 600px; 
    border-collapse: collapse;
}

.fee td {
    padding-right: 20px;
}

.fee td[rowspan] {
    vertical-align: middle; 
    text-align: end;
}

.fee .fee-name{
    font-weight: 500;
    font-size: 18px;
}

.fee .fee-location{
    font-size: 14px;
    margin-top: -3px;
}

.fee .fee-total{
    font-size: 18px;   
}

.total-fee {
    background-color: rgb(4 43 89) !important;
    color: white;
}

.total-fee + p{
    background-color: none;

}

/* ---------------------------REFERENCES----------------------------------  */
.article-reference{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
}

.reference-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
}

.article-reference {
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center; 
}

.article-reference a {
    text-decoration: none;
    color: black;
    display: block; 
}
.article-reference a{
    text-decoration: none;
    text-align: center;
    color: black;
}

/* ------------------------SAMPLE PHOTOS-------------------------------  */
.samplephoto-info p{
    text-align: center;
    letter-spacing: 1px;
}

.samplephoto-info img{
    width: 45%;
    display: block;
    margin: 0 auto; 
}

.img-magnifier-container {
    position:relative;
}
  
.img-magnifier-glass {
    position: absolute;
    border: 3px solid #10152B;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

/* ---------------------------FOOTER----------------------------------  */
footer{
    background-color: #071356;
    padding: 5px 0;
}

footer p, footer i{
    color: #fff;
}

.table-container {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    padding-left: 120px;
}

/* Style for each row */
.table-row {
    display: flex;
}

.table-row1 {
    display: flex;
    padding-top: 70px;
    padding-bottom: 5px;
}

.table-row1 .table-cell{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

/* Style for each cell */
.table-cell {
    flex: 1;
    text-align: left;
    font-size: 14px;
    padding: 2px;
    padding-right: 100px;
}

.table-cell a {
    text-decoration: none;
    color: #fff;
}

.table-cell a:hover {
    text-decoration: none;
    color: #009DD1;
}

.container5 {
    background-color: #101d65;
    padding: 10px;
    margin-top: 20px;
}

.container5 .table-cell{
    color: #fff;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: var(--container-color);
    color: var(--first-color);
    text-align: center; 
    text-decoration: none; 
    cursor: pointer; 
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

#back-to-top-btn a{
    text-decoration: none;
    color: var(--first-color);
}

#back-to-top-btn:hover,
#back-to-top-btn a:hover  {
    background-color: var(--second-color);
    color: var(--third-color);
}

.scrollable-section {
    scroll-margin-top: 20rem; 
}
